.card__container {
    padding-top: 15px;
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 15px;
}

.card {
    padding: 16px;
    border: 1px solid var(--main-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    font-size: 4rem;
}

.card__image {
    width: max-content;
    max-width: 100%;
    max-height: 400px;
    margin: 12px 0;
}

.card__service {
    height: fit-content;
    border: none;
}

.card__title_personal {
    margin-bottom: 12px;
}

.card__select {
    padding: 8px 12px;
    border: 1px solid var(--main-color);
    font-size: 2.2rem;
}