:root {
    font-size: 10px;
    --main-color: #fed35b;
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("/css/fonts/Roboto-Regular.ttf") format("ttf"),
}

@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto"),
        url("/css/fonts/Roboto-Bold.ttf") format("ttf"),
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 2rem;
}

.container {
    max-width: 1410px;
    padding: 0px 15px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.jc-between {
    justify-content: space-between;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: end;
}

.ai-center {
    align-items: center;
}

.fd-column {
    flex-direction: column;
}

.fw-wrap {
    flex-wrap: wrap;
}

.py-8 {
    padding-top: 8px;
    padding-bottom: 8px;
}

.mt-12 {
    margin-top: 12px;
}

.w-100 {
    width: 100%;
}

.mt-8 {
    margin-top: 8px;
}

.mt-4 {
    margin-top: 4px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-0 {
    margin-bottom: 0;
}

.mr-12 {
    margin-right: 12px;
}

.mr-8 {
    margin-right: 8px;
}

.mr-4 {
    margin-right: 4px;
}

a {
    text-decoration: none;
    color: rgb(7, 6, 6);
}

.main-color-text {
    color: var(--main-color);
}

.my-auto {
    margin: auto 0;
}

.min-h-100 {
    min-height: 100vh;
}

.bg-primary {
    background-color: var(--main-color);
}

.text-primary {
    color: var(--main-color);
}

.text-secondary {
    color: white;
}

.custom-hr {
    display: block;
    width: 80%;
    height: 2px;
    background-color: var(--main-color);
    margin: 20px 0;
}

.btn-reset {
    padding: 12px 26px;
    cursor: pointer;
    outline: none;
    border: none;
    font-size: 2rem;
}

.btn-primary {
    margin-top: 12px;
    background-color: var(--main-color);
    color: white;
}

.btn-primary_modal {
    padding: 8px 14px;
}

.modal__background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal__body {
    background-color: #fff;
    border: 1px solid white ;
    border-radius: 12px;
    padding: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -120%);
}

.unvisible {
    opacity: 0;
    visibility: hidden;
}